body{
    width:98.9%;
    margin: 0;
    font: 17px Arial, sans-serif;
}

p:nth-child(1){
    margin:-20px -20px 5px -20px;
}

.course p{
    margin-top:-30px;
}

p{
    margin:-30px -20px 5px -20px;
    padding:20px 0 20px 30px;
    background-color:#3498db;
    color:#2c3e50;
    font-size: 16px;
    font-weight: 800;
}

.list{
    border:#bdc3c7 2px solid;
    width:68%;
    float:right;
    padding:20px;
    margin:20px 0;
}

h3{
    color:#e74c3c;
}

#info{
    float:left;
    border-right: #27ae60 3px solid;
    width :360px;
    height:88%;
    margin:0 30px 0 0;
    padding:20px 0 200px 20px;
    font: 17px Arial, sans-serif;
}

input{
    width:200px;
    height:40px;
}

#new {
    padding-top:15px;
    font:14px "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}
th {
    background-color: #e74c3c;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    padding: 10px 20px;
    background: #ecf0f1;
}

#edit{
    width:150px;
    height:30px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#other{
    display:block;
    float:left;
}

.icon{
    width:10px;
    height:10px;
}

span{
    width:160px;
    display:inline-block;
}

.about{
    padding-left:20px;
    padding-right:20px;
    font-weight:800;
    color:#27ae60;
}

ul{
    padding-left:0;
    list-style:none;
}

#user{
    padding-left:110px;
    width:120px;
    height:120px;
    margin-bottom:10px;
}


select{
    height:35px;
    margin-right:10px;
    float:left;
}

input[type="text"],input[type="number"] {
    font-size:18px;
    height:32px;
    float:left;
    margin-right:10px;
    padding:0 10px;
}

input[type="submit"]{
    height:35px;
}

.course{
    border:#bdc3c7 2px solid;
    width:32%;
    float:right;
    padding:20px 20px 20px 20px;
    margin: 20px 0 20px 18px;
}

.course select, .course input[type="submit"]{
    margin:7px 3px -7px 3px;
}

.old{
    border:#bdc3c7 2px solid;
    float:right;
    width:auto;
    padding:10px 20px;
    margin:20px 0 10px 18px;
}

.list:nth-child(5) th{
    background-color:white;
    margin:0;
    color:black;
    text-shadow:none;
    padding:5px 0 10px 0;
    font-weight:500;
}


.list input[type="number"]{
    background-color:white;
    width:107;
    margin:0 auto;
    color:black;
    text-shadow:none;
    font-weight:500;
}

.list:nth-child(5) td{
    padding:0;
    margin:0;
    background-color:white;
    color:black;
}

.course input[type="submit"], .list input[type="submit"]{
    margin-left:10px;
    margin-right:0;
    border-radius:20px;
    background-color:#27ae60;
    color:white;
    text-shadow: 0 1px 5px #2D2020;
    font-weight:800;
    cursor:pointer;
    height:30px;
}

.course input[type="submit"]{
    margin-left:105px;
    margin-right:0;
}

#new td:last-child{
    background-color:white;
}

#new button img{
    width:20px;
    height:20px;
    cursor: pointer;
}

#new button{
    padding:0;
    margin:0;
    border:none;
}

.list:last-child td{
    background-color:white;
    padding:4px;
}

.list:last-child input[type="text"], .list:last-child input[type="password"]{
    font-size:18px;
    height:32px;
    float:left;
    margin-right:20px;
    padding:0 10px;
}

p:nth-child(n+1){
    margin-top:-20px;
}