body{
    width:98.9%;
    margin: 0;
    font: 17px Arial, sans-serif;
}

h3{
    color:#e74c3c;
}

table {
    font:14px "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: center;
}

.col-lg-9{
    padding-top:50px;
}

.col-lg-3{
    padding-top:85px;
    height:95vh;
}

th, td{
    text-align:center;
}

.btn-success{
    display:table;
    margin:25px 43% 0px auto;
}