body{
    width:98.9%;
    font: 17px Arial, sans-serif;
    margin-top: 50px;
}

input[type="text"],input[type="number"] {
    font-size:18px;
    height:32px;
    float:left;
    margin-right:10px;
    padding:0 10px;
}

dl{
    margin-left:-25px;
}

.panel{
    margin:0 40px;
    margin-top:30px;
}

.col-lg-3{
    padding-top:30px;
    height:95vh;
}

.col-lg-6{
    width:50%;
    padding:0;
    margin:0;
}

#icon{
    width:160px;
    border-radius:100px;
    margin-left:78px;
    margin-bottom:20px;
    border:gray 1px solid;
}
span{
    font-size:160px;
    margin-bottom:-4px;
    margin-left:-1px;
    color:gray;
    overflow:hidden;
}

dt{
    color:#27ae60;
    font-size:16px;
}

dd{
    font-size:16px;
}

.bs-const{
    height:95vh;
}

.glyphicon-ban-circle, .glyphicon-ok-sign{
    font-size:16px;
    padding-bottom:3px;
}

.glyphicon-ban-circle{
    color:red;
}

.glyphicon-ok-sign{
    color:green;
}

button span{
    padding-right:5px;
    margin-right:0;
}

table button {
    max-width:175px;
}

.control-label{
    width:30%;
}

.form-horizontal{
    padding-top:10px;
}

.form-control.select{
    float:left;
    margin-left:15px;
    width:45%
}

h3{
    color:red;
    display:table;
    margin:25px auto;
}